@import "_base.scss";

//WRITE YOUR CSS HERE

.dollar-sign{
	font-size: 35px;
}

#button-container {
	margin: 1em 0;
	text-align: left;
	height: auto;
	
	h3 {

		text-align: center;
	}

	.input-holder {

		text-align: center;
	}

	.button-holder{

		text-align: center;

	}

	.income-btn {
		margin: 5px auto;
	    background-color: #EFEFEF;
	    border-radius: 4px;
	    border: 1px solid #D0D0D0;
	    overflow: hidden;
	    width: 110px;
	    height: 40px;
	    display: inline-block;
		font-size: $lg;
		font-family:  $sans-serif-condensed;
		font-weight: bold;
	}

	.income-box {
		font-family: $sans-serif-condensed;
		font-size: 40px;
		border-bottom: 1px dashed $border-gray;
		border-top: none;
		border-left: none;
		border-right: none;
		width: 155px;
		margin-right: 1em;
		text-align: left;
		
		&::-webkit-input-placeholder {
			font-weight: 300;
			text-align: left;
			line-height: 2em;
			font-size: 30px;
		}

		&:focus {
			outline: 0;

			&::-webkit-input-placeholder{
				color: #fff;
			}
		}
	}
}


.error {
	height: auto;
	width: 50%;
	display: none;
	margin: 1px auto;
	text-align: center;


	.error-message {
		background: $red;
		padding: 0.25em;
	}
}


#house-choice {
	margin: 1em 0;
	text-align: center;
	height: auto;

	h3 {
		padding-bottom: 8px;
	}

	#check-button-house, #check-button-condo {
	    margin: 0px auto;
	    background-color:#EFEFEF;
	    border-radius:4px;
	    border:1px solid #D0D0D0;
	    overflow:hidden;
	    width: 200px;
	    height: 45px;
	    display: inline-block;

	    &:hover {
	    	background: red;
	    }

	    & label {
	    	float:left;
	   		width: 100%;

	   		& span {
	   			text-align:center;
			    display:block;
			    padding: 0.35em;
			    font-size: $lg;
			    font-family: $sans-serif-condensed;
			}


			& input {
				display: none;

				&:checked + span {
					background-color: #911;
	    			color: #fff;
				}
			}
	    }

	}

	.disabled {

		&:hover {
			 background-color: #efefef !important;
		}

	}


}

.info {
	padding: 0em 0 0 1.25em; 

	
	#list-container {
		background: #f8f5f2;
		height: 600px;

		& header {
			padding: 10px;
			display: block;
			position: relative;

			#srcbox{
				font-family: 'Roboto Slab', Georgia, Times, Serif;
			    font-size: 16px;
			    width: 78%;
			    padding: 14px 10.5% 14px 2.5%;
			    margin: 15px auto 25px auto;
			    display: block;
			    border: none;
			    background: #EEE;
			    box-shadow: inset 0px 0px 10px #CCC;
			    border-radius: 3px;
			}

			#srcbox-button {
				background: rgba(0, 0, 0, 0) url('http://media.miamiherald.com/static/media/projects/2014/school-demographics/img/src.png') no-repeat scroll center center;
			    width: 35px;
			    height: 25px;
			    position: absolute;
			    right: 15%;
			    top: 35px;
			}

			#reset {
			    padding: 4px;
			    position: absolute;
			    right: 7%;
			    top: 78px;
			    display: inline-block;
			    cursor: pointer;
			 }
		}

		#zip-list {
			border-top: 2px solid #AAA;
		    width: 100%;
		    height: 500px;
		    overflow-y: scroll;
		    box-shadow: inset 0px 0px 10px #CCC;
			
			ul {
				padding: 0px;
			}
			
			.active-listing { 
				background: #fff; 
				display: block !important; 
				cursor: default !important 
			}
			
		    .listing {
		    	padding: 20px;
		    	list-style-type: none;
			    cursor: pointer;
			    border-bottom: 1px solid #AAA;
			    font-family: $serif;
			    font-weight: bold;
			    font-size: $md;

				
				.school-list {
					border: 1px solid;
					width: 100%;
					font-weight: normal;

					td, th {
						border: 1px solid red;
						font-size: $sm;
						text-align: center;
					}

					.name {
						text-align: left !important;
					}

				}

		    }
		}

	}





	.income {
		font-weight: bold;	
		color: $green;
	}

	h2 {

	}	
}



.map-section {
	display: block;
	margin-top: 1em;
	height: 650px;

}


#map-container {
	height: 602px;
}


.section:nth-child(2) {
	margin-top: 2em;
}

#hover-box {
	width: 260px;
	position: absolute;
	background: #fff;
	color: #000;
	padding: 5px 8px;
	box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999;
	display: block !important;
	z-index: 9999;
	height: 115px;
	

	.float-left {
		float: left;
	}

	.float-right {
		float: right;
	}

	#house-price {
		border-right: 1px dashed #ccc;
		height: 80px;
		width: 50%;
		padding: 2.5px 10px 0px 0;
		float: left;
	}

	#condo-price {
		border-right: none;
		height: 80px;
		width: 50%;
		padding: 2.5px 10px 0px 10px;
		float: right;
	}

	.house-row {
		display: block;
		height: 20px;
		width: 100%;
		border-bottom: 1px dashed #ccc;
		font-family: $serif;
		font-size: 12px;

		&:last-of-type{ 
			border: none;
		}
	}


	.table-label {
		font-family: $sans-serif-condensed;
		text-transform: uppercase;
		font-size: $xxs;
		font-weight: bold;
		color: $text-gray;
	}

	.zip-code {
		font-family: $serif;
		font-size: $base;
		font-weight: bold;
	}

	.city {
		font-family: $sans-serif;
	}

}


@media (max-width: 991px) {


	.input-holder {
		width: 100%;
	}

	.button-holder {
		width: 100%;
	}




}
