@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300");
@import url("http://fonts.googleapis.com/css?family=Raleway:900");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
.font-xxl {
  font-size: 36px; }

.font-xl {
  font-size: 28px; }

.font-lg {
  font-size: 22px; }

.font-md {
  font-size: 18px; }

.font-base {
  font-size: 16px; }

.font-sm {
  font-size: 14px; }

.font-xs {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif; }

body, html {
  color: #282828;
  padding-top: 40px;
  background-color: #ffffff; }

.mobile-img {
  display: none; }

.sig {
  font-weight: bold;
  font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li, .navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important; }

.navbar-right {
  float: right !important; }

.graphic-label {
  font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  color: #aa0000;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }

.headline {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 50px;
  line-height: 1em;
  margin: 5px auto 10px auto;
  font-weight: 700;
  text-align: center;
  max-width: 775px; }

.byline {
  display: table;
  font-size: 14px;
  display: block;
  text-align: center; }
  .byline .name {
    font-weight: bold;
    display: block;
    font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif; }
    .byline .name .upper {
      text-transform: uppercase; }
  .byline .email {
    display: inline-block;
    font-family: "Roboto Slab", "Times New Roman", Times, serif; }
    .byline .email:hover {
      text-decoration: underline; }
  .byline .date {
    display: block;
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
    font-size: 12px;
    color: #666; }

.readout {
  margin: 1em auto;
  display: block;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  max-width: 700px; }
  .readout a {
    color: #aa0000; }
    .readout a:hover {
      cursor: pointer; }
  .readout .single-photo, .readout .double-photo {
    width: 100%; }
  .readout img {
    display: block;
    width: 100%; }
  .readout .photog {
    font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    margin: 0.25em 0;
    font-size: 12px;
    color: #666;
    text-align: right;
    display: block;
    width: 100%; }
  .readout .caption {
    font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    margin: 0.25em 0;
    font-size: 14px;
    color: #666;
    display: block; }
  .readout .double-photo img {
    border: 2px solid #ffffff; }

.photog {
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  margin: 0.25em 0 0 0;
  font-size: 10px;
  color: #666;
  text-align: right;
  display: block;
  width: 100%; }

.caption {
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  margin: 0.5em 0 0.5em 0;
  font-size: 12px;
  color: #666;
  display: block; }

.subhed {
  font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

.tinyhed {
  font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 1em 0 0.5em 0; }

.instructions {
  background: whitesmoke;
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-bottom: 1em; }

hr {
  border-top: 1.5px solid #ccc; }

.dotted {
  border-top: 1.5px dashed #ccc; }

#sources {
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  clear: both;
  max-width: 485px;
  color: #9b9b9b;
  display: table;
  border-top: 1px solid #ccc; }
  #sources p {
    padding: 0.5em 0 0 0; }

.comments {
  margin-top: 1em;
  background: whitesmoke;
  padding: 0.25em; }

.footer-list {
  text-align: center;
  padding: 0px 0 20px 0; }
  .footer-list a {
    display: inline; }
  .footer-list img {
    display: block;
    margin: 1em auto;
    box-shadow: none; }
  .footer-list .footer-text {
    margin-right: 1em;
    font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px; }

.button {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: border-color 0.218s;
  -moz-transition: border 0.218s;
  -o-transition: border-color 0.218s;
  transition: border-color 0.218s;
  background: #006DBD;
  color: #ffffff;
  border: 0px;
  padding: 7px 12px; }
  .button:active,
  .button:hover {
    background-color: rgba(0, 109, 189, 0.7);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.ghost-button {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: border-color 0.218s;
  -moz-transition: border 0.218s;
  -o-transition: border-color 0.218s;
  transition: border-color 0.218s;
  background: transparent;
  border: 2px solid #666;
  color: #666;
  padding: 7px 12px; }
  .ghost-button:active,
  .ghost-button:hover {
    background-color: rgba(102, 102, 102, 0.05);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

@media (max-width: 767px) {
  .large-img {
    display: none; }
  .mobile-img {
    display: block; }
  .headline {
    font-size: 25px; }
  .subhed {
    font-size: 16px; }
  .readout {
    font-size: 14px; }
  .fa-facebook, .fa-twitter, .fa-google-plus {
    font-size: 18px; } }

.dollar-sign {
  font-size: 35px; }

#button-container {
  margin: 1em 0;
  text-align: left;
  height: auto; }
  #button-container h3 {
    text-align: center; }
  #button-container .input-holder {
    text-align: center; }
  #button-container .button-holder {
    text-align: center; }
  #button-container .income-btn {
    margin: 5px auto;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: hidden;
    width: 110px;
    height: 40px;
    display: inline-block;
    font-size: 22px;
    font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
  #button-container .income-box {
    font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    border-bottom: 1px dashed #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 155px;
    margin-right: 1em;
    text-align: left; }
    #button-container .income-box::-webkit-input-placeholder {
      font-weight: 300;
      text-align: left;
      line-height: 2em;
      font-size: 30px; }
    #button-container .income-box:focus {
      outline: 0; }
      #button-container .income-box:focus::-webkit-input-placeholder {
        color: #fff; }

.error {
  height: auto;
  width: 50%;
  display: none;
  margin: 1px auto;
  text-align: center; }
  .error .error-message {
    background: #aa0000;
    padding: 0.25em; }

#house-choice {
  margin: 1em 0;
  text-align: center;
  height: auto; }
  #house-choice h3 {
    padding-bottom: 8px; }
  #house-choice #check-button-house, #house-choice #check-button-condo {
    margin: 0px auto;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: hidden;
    width: 200px;
    height: 45px;
    display: inline-block; }
    #house-choice #check-button-house:hover, #house-choice #check-button-condo:hover {
      background: red; }
    #house-choice #check-button-house label, #house-choice #check-button-condo label {
      float: left;
      width: 100%; }
      #house-choice #check-button-house label span, #house-choice #check-button-condo label span {
        text-align: center;
        display: block;
        padding: 0.35em;
        font-size: 22px;
        font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif; }
      #house-choice #check-button-house label input, #house-choice #check-button-condo label input {
        display: none; }
        #house-choice #check-button-house label input:checked + span, #house-choice #check-button-condo label input:checked + span {
          background-color: #911;
          color: #fff; }
  #house-choice .disabled:hover {
    background-color: #efefef !important; }

.info {
  padding: 0em 0 0 1.25em; }
  .info #list-container {
    background: #f8f5f2;
    height: 600px; }
    .info #list-container header {
      padding: 10px;
      display: block;
      position: relative; }
      .info #list-container header #srcbox {
        font-family: 'Roboto Slab', Georgia, Times, Serif;
        font-size: 16px;
        width: 78%;
        padding: 14px 10.5% 14px 2.5%;
        margin: 15px auto 25px auto;
        display: block;
        border: none;
        background: #EEE;
        box-shadow: inset 0px 0px 10px #CCC;
        border-radius: 3px; }
      .info #list-container header #srcbox-button {
        background: transparent url("http://media.miamiherald.com/static/media/projects/2014/school-demographics/img/src.png") no-repeat scroll center center;
        width: 35px;
        height: 25px;
        position: absolute;
        right: 15%;
        top: 35px; }
      .info #list-container header #reset {
        padding: 4px;
        position: absolute;
        right: 7%;
        top: 78px;
        display: inline-block;
        cursor: pointer; }
    .info #list-container #zip-list {
      border-top: 2px solid #AAA;
      width: 100%;
      height: 500px;
      overflow-y: scroll;
      box-shadow: inset 0px 0px 10px #CCC; }
      .info #list-container #zip-list ul {
        padding: 0px; }
      .info #list-container #zip-list .active-listing {
        background: #fff;
        display: block !important;
        cursor: default !important; }
      .info #list-container #zip-list .listing {
        padding: 20px;
        list-style-type: none;
        cursor: pointer;
        border-bottom: 1px solid #AAA;
        font-family: "Roboto Slab", "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 18px; }
  .info .income {
    font-weight: bold;
    color: #2ca25f; }

.map-section {
  display: block;
  margin-top: 1em;
  height: 650px; }

#map-container {
  height: 602px; }

.section:nth-child(2) {
  margin-top: 2em; }

#hover-box {
  width: 260px;
  position: absolute;
  min-height: 20px;
  background: #fff;
  color: #000;
  padding: 8px;
  box-shadow: 0px 0px 10px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  display: none;
  z-index: 9999; }

@media (max-width: 991px) {
  .input-holder {
    width: 100%; }
  .button-holder {
    width: 100%; } }
