<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ COPY.seo_description }}">
<meta name="author" content="{{ COPY.reporter_name }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="{{ COPY.key_words }}">
<meta name="copyright" content="&copy; 2015 Miami Herald">
<meta name="robots" content="index,follow">
<meta property="og:title" content="Graphic: {{ COPY.headline }}"/>
<meta property="og:type" content="article"/> 
<meta property="og:description" content="{{ COPY.seo_description }}"/>
<meta property="og:image" content="{{ COPY.fb_img_url }}"/>
<meta property="og:url" content="{{ COPY.url }}"/>
<meta property="og:site_name " content="Miami Herald"/> 
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MiamiHerald">
<meta name="twitter:creator" content="@MiamiHerald">
<meta name="twitter:title" content="Graphic: {{ COPY.headline }}">
<meta name="twitter:description" content="{{ COPY.seo_description }}">
<meta name="twitter:image" content="{{ COPY.fb_img_url }}">

<link rel="icon" type="image/jpg" href="http://www.miamiherald.com/static/theme/miamiherald/base/ico/favicon.png"/>
<link rel="image_src" href="{{ COPY.fb_img_url }}" />

<link rel="stylesheet" href="css/libs/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/libs/bootstrap.css">
<link rel="stylesheet" href="css/libs/leaflet.css">

<link rel="stylesheet" href="css/styles.css">
