<script src="js/libs/d3/d3.min.js"></script>
<script src="js/libs/jquery/jquery.min.js"></script>
<script src="js/libs/jquery/jquery.number.min.js"></script>
<script src="js/libs/jquery/jquery.fullPage.min.js"></script>
<script src="js/libs/modernizr/modernizr.js"></script>
<script src="js/libs/bootstrap/bootstrap.min.js"></script>
<script src="js/libs/sinclair.js"></script>
<script src="js/libs/leaflet/leaflet.js"></script>
<script src="js/libs/leaflet/tile.stamen.js"></script>
<script src="js/main.js"></script>