<!---
  _______ _____  ________  _      _____   ____  __ _________  ____
 / ___/ // / _ \/  _/ __/ | | /| / / _ | / __/ / // / __/ _ \/ __/
/ /__/ _  / , __/ /_\ \   | |/ |/ / __ |_\ \  / _  / _// , _/ _/  
\___/_//_/_/|_/___/___/   |__/|__/_/ |_/___/ /_//_/___/_/|_/___/  
                                                                                                                            
Greetings. I'm @ChrisAlcantara. I code for the @MiamiHerald.
 -->
<!DOCTYPE html>
<html>
  <head>
    <!-- META TAGS and CSS -->
    {% include 'templates/includes/_head.html' %}
    <title>{{ COPY.headline }} | Miami Herald</title>
  </head>
  <body>
      <!-- NAVBAR -->
      {% include 'templates/includes/_nav.html' %}
      <!-- CONTENT -->
      <div class="container">
        {% block content %}{% endblock %}
        {% include 'templates/includes/_source.html' %}
        {% include 'templates/includes/_fb.html' %}
      </div>
      <!-- JS LIBRARIES -->
      {% include 'templates/includes/_js-libs.html' %}
      <!-- ANALYTICS -->
      {% include 'templates/includes/_analytics.html' %}
      
  </body>
</html>
